# ENV
.env.development
.env.production

# DEPENDENCIES
node_modules/

# BUILD OUTPUT
build/
dist/

# CACHE
.cache/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Android Studio / Android
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/**/build/